Repository mattk09/complete-azure-sample: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/build-test-deploy.yml, azure-pipelines/ci-docs.yml

azure-pipelines/build-test-deploy.yml:
  name: $(Date:yyyyMMdd)$(Rev:.r).$(Build.SourceBranch)
  stages:
  - stage: build
    displayName: Build
    jobs:
    - job: build
      displayName: Build ASP.NET Core App 3.1
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: DotNetCoreCLI@2
        displayName: Build $(buildConfiguration)
  ...

azure-pipelines/ci-docs.yml:
  pool:
    vmImage: ubuntu-latest
    demands: npm
  jobs:
  - job: DocumentsLint
    steps:
    - task: NodeTool@0
      displayName: Install node
      inputs:
        versionSpec: 10.x
    - script: npm install -g cspell markdownlint-cli
      displayName: Install CSpell and Markdown lint
  ...

Refactor some some code and add adapters
  docs/Observability.md
  src/Sample.Contracts/Observability/ISampleObservability.cs
  src/Sample.Contracts/Observability/Weather/IWeatherForecasterObservability.cs
  src/Sample.Contracts/Telemetry/ICoreTelemetry.cs
  src/Sample.Contracts/Telemetry/ISpanActivity.cs
  src/Sample.WebApi/ApplicationInsightsAdapter.cs
  src/Sample.WebApi/OpenTelemetryAdapter.cs
Due: azure-pipelines/build-test-deploy.yml, azure-pipelines/ci-docs.yml

Add a contrived sample to try and observe
  src/Sample.WebApi/Controllers/SampleSpanProducerController.cs
Due: azure-pipelines/build-test-deploy.yml

FIX: AI StartOperation will start the activity
  src/Sample.WebApi/ApplicationInsightsAdapter.cs
Due: azure-pipelines/build-test-deploy.yml

Add missed files and make a working sample
  src/Sample.Contracts/Observability/ISampleObservability.cs
  src/Sample.Contracts/Observability/IWeatherForecasterObservability.cs
  src/Sample.Contracts/Observability/NullWeatherForecasterObservability.cs
  src/Sample.WebApi/ApplicationInsightsAdapter.cs
  src/Sample.WebApi/Controllers/SampleSpanProducerController.cs
  src/Sample.WebApi/OpenTelemetryAdapter.cs
  src/Sample.WebApi/Sample.WebApi.csproj
  src/Sample.WebApi/Startup.cs
  src/Sample/Services/Weather/WeatherForecaster.cs
Due: azure-pipelines/build-test-deploy.yml

Add settings to configure telemetry type
  src/Sample.Contracts/Telemetry/NullCoreTelemetry.cs
  src/Sample.WebApi/Settings/Features.cs
  src/Sample.WebApi/Settings/TelemetrySdk.cs
  src/Sample.WebApi/Startup.cs
  src/Sample.WebApi/appsettings.Development.json
Due: azure-pipelines/build-test-deploy.yml

VSCODE: Update launch.json casing for linux
  .vscode/launch.json
Due: none

Add functions resource to ARM
  arm/azure-deploy.json
Due: azure-pipelines/build-test-deploy.yml

Add HelloWorld functions project
  Sample.Project.Template.sln
  arm/azure-deploy.json
  src/Sample.Functions/HelloWorld.cs
  src/Sample.Functions/Sample.Functions.csproj
  src/Sample.Functions/host.json
Due: azure-pipelines/build-test-deploy.yml

Package and deploy Functions HelloWorld
  arm/azure-deploy.json
  azure-pipelines/build-test-deploy.yml
  azure-pipelines/variables.yml
Due: azure-pipelines/build-test-deploy.yml

Create basic github action for build/test
  .github/workflows/dotnet.yml
Due: none

Update action branches and triggers
  .github/workflows/dotnet.yml
Due: none

Fix typo in workflow
  .github/workflows/dotnet.yml
Due: none

Login to azure
  .github/workflows/dotnet.yml
Due: none

Azure login in actions
  .github/workflows/dotnet.yml
Due: none

test az cli
  .github/workflows/README.md
  .github/workflows/dotnet.yml
Due: none

test az cli
  .github/workflows/dotnet.yml
Due: none

test resource deploy
  .github/workflows/dotnet.yml
Due: none

Make a unique resource group name
  .github/workflows/dotnet.yml
Due: none

test az cli
  .github/workflows/README.md
  .github/workflows/bicep-test.yml
  .github/workflows/dotnet.yml
  arm/azure-deploy.bicep
  bicep/main.bicep
Due: azure-pipelines/build-test-deploy.yml

Upgrade To dotnet6
  .github/workflows/bicep-test.yml
  .github/workflows/dotnet.yml
  arm/azure-deploy.bicep
  src/Sample.Contracts/Sample.Contracts.csproj
  src/Sample.Extensions/AzureADExtension.cs
  src/Sample.Extensions/Sample.Extensions.csproj
  src/Sample.Functions/Sample.Functions.csproj
  src/Sample.Storage.Azure/Sample.Storage.Azure.csproj
  src/Sample.Tests/Sample.Tests.csproj
  src/Sample.WebApi/Sample.WebApi.csproj
  src/Sample/Sample.csproj
Due: azure-pipelines/build-test-deploy.yml

Deploy from bicep in action
  .github/workflows/dotnet.yml
Due: none

Test deploy
  .github/workflows/bicep-test.yml
  .github/workflows/dotnet.yml
Due: none

Fix yaml
  .github/workflows/dotnet.yml
Due: none

Update to 6.0
  .vscode/launch.json
  bicep/main.bicep
Due: none

Polish
  .github/workflows/bicep-test.yml
  .github/workflows/dotnet.yml
Due: none

no env?
  .github/workflows/dotnet.yml
Due: none

Use ?
  .github/workflows/dotnet.yml
Due: none

Deploy on main push
  .github/workflows/dotnet.yml
Due: none

Update action branches and triggers
  .github/workflows/README.md
  .github/workflows/dotnet.yml
  .vscode/launch.json
  bicep/main.bicep
  src/Sample.Contracts/Sample.Contracts.csproj
  src/Sample.Extensions/AzureADExtension.cs
  src/Sample.Extensions/Sample.Extensions.csproj
  src/Sample.Functions/Sample.Functions.csproj
  src/Sample.Storage.Azure/Sample.Storage.Azure.csproj
  src/Sample.Tests/Sample.Tests.csproj
  src/Sample.WebApi/Sample.WebApi.csproj
  src/Sample/Sample.csproj
Due: azure-pipelines/build-test-deploy.yml

Only upload artifact when pushing to main
  .github/workflows/dotnet.yml
Due: none

Add .env
  .github/workflows/dotnet.yml
Due: none

Force env to bool with &&
  .github/workflows/dotnet.yml
Due: none

explicit check string for 'true'
  .github/workflows/dotnet.yml
Due: none

No publish without main (#2)
  .github/workflows/dotnet.yml
Due: none

Download packages to different dir
  .github/workflows/dotnet.yml
Due: none

Fix kv name
  bicep/main.bicep
Due: none

Doc cleanup and remove azdo extras
  README.md
  azure-pipelines/ci-docs.yml
  azure-pipelines/cspell/cspell.json
  azure-pipelines/cspell/whitelisted-words.txt
  azure-pipelines/mdlint/mdlint.json
  docs/Authentication.md
  docs/images/azure-active-directory-login.png
  docs/images/run-pipeline.png
  docs/images/swagger-authorizations.png
  docs/images/swagger.png
  docs/images/token-return.png
  scripts/AzureAdFunctions.sh
  scripts/CreateAzureAdApp.sh
Due: azure-pipelines/build-test-deploy.yml, azure-pipelines/ci-docs.yml

Remove auth code
  Sample.Project.Template.sln
  src/Sample.Extensions/AzureADExtension.cs
  src/Sample.Extensions/Configurations/AuthenticationConfiguration.cs
  src/Sample.Extensions/Configurations/AzureADConfiguration.cs
  src/Sample.Extensions/Interfaces/IAuthenticationConfiguration.cs
  src/Sample.Extensions/Models/AzureAdResponseValues.cs
  src/Sample.Extensions/Sample.Extensions.csproj
  src/Sample.Tests/AuthenticationConfigurationTests.cs
  src/Sample.Tests/AzureADExtensionsTests.cs
  src/Sample.Tests/AzureAdResponseValuesTests.cs
  src/Sample.Tests/Sample.Tests.csproj
  src/Sample.WebApi/Controllers/AuthenticationController.cs
  src/Sample.WebApi/Sample.WebApi.csproj
  src/Sample.WebApi/Settings/SampleSettings.cs
  src/Sample.WebApi/Startup.cs
  src/Sample.WebApi/appsettings.Development.json
Due: azure-pipelines/build-test-deploy.yml

Path conditions:
  azure-pipelines/build-test-deploy.yml: any of: arm, azure-pipelines, src
  azure-pipelines/ci-docs.yml: any of: docs
